<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Healthy Fish</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body id="index">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section" id="home">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark custom_nav-container fixed-top" style="background-color: #3870C2;"> 
          <a class="navbar-brand" href="index.html">
            <span>
             Healthy Fish 
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
				 <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#team">Our Team</a>
                </li>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="slider_bg-container">
      </div>
      <div class="slider-container">
        <div class="detail-box">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
          <h1>
            Healthy Fish <br>
          </h1>
          <p>
            Healthy Fish merupakan salah satu layanan yang membantu masyrakat untuk mengetahui
			jenis penyakit pada ikan kakap putih dengan harapan website tersebut dapat membantu khalayak ramai.
          </p>
        </div>
        <div class="img-box">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/images/slider.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="static/images/sliderr.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img src="static/images/slider.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


 <!-- about section -->
 <section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="custom_heading-container">
            <p>
              <h2>
                About
              </h2>
            </p>
            
            <hr>
          </div>
          <p align="justify">
            Website informasi ini diciptakan pertama kali pada tahun 2022, website ini yang akan memberikan berbagai informasi atau layanan kepada masyarakat mengenai berbagai jenis penyakit pada ikan kakap putih 
            yang diharapkan website ini yang akan membantu masyarakat untuk mengetahui kondisi berbagai jenis penyakit pada ikan kakap putih. Webhealthy Fish itu memiliki tiga tujuan : 
            <ol>
              <li>Memberikan informasi mengenai pemilihan ikan kakap putih yang lebih sehat dimana ciri tersebut telah mengacu sesuai dengan sumber atau pakar yang terpercaya</li>
              <li>Sebagai inspeksi dini untuk lebih selektif dalam memilih ikan kakap putih</li>
              <li>Menjawab pertanyaan sserta kekhawatiran umum mengenai jenis penyakit pada ikan kakap putih.</li>
            </ol> 
          </p><p align="justify">
            Kami berangkat untuk membantu dan mendidik konsumen tentang cara membuat keputusan pembelian ikan kakap putih yang lebih sehat, serta untuk mendukung atau memberikan informasi kepada petani ikan kakap putih 
            dalam selektif memilih klasifikasi ikan kakap putih yang lebih sehat. Website ini memiliki tujuan supaya setiap orang dapat menikmati makanan yang fresh, lezat, dan sehat.
          </p>  
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="static/images/abt-img.png" height="500px" align="right" border="50"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->



  <!-- service section -->
  <section id="Services">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            Services
          </h2>
        </div>
        <p>
          ini merupakan layanan utama kami yang diharapkan dapat membantu user untuk menyelesaikan permasalahan yang dihadapi.
        </p>
      </div>
    <div class="align-right">
        <img src="static/images/ikan2.jpg" class="float-right" alt="">
      </div>
    </div>
    <div class="left align-self-center">
      <form action="/predict" method="POST">
        <table>
          <tr>
            <td>1. Apakah ikan mengalami luka pada kulit ?</td>
            <td><input type="radio" name="G001" value="1" required>Yes
                <input type="radio" name="G001" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>2. Apakah ikan mengalami infeksi insang ?</td>
            <td><input type="radio" name="G002" value="1" required>Yes
                <input type="radio" name="G002" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>3. Apakah ikan mengalami lendir berlebihan ?</td>
            <td><input type="radio" name="G003" value="1" required>Yes
                <input type="radio" name="G003" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>4. Apakah ikan mengalami sirip ekor rusak?</td>
            <td><input type="radio" name="G004" value="1" required>Yes
                <input type="radio" name="G004" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>5. Apakah ikan mengalami tidak nafsu makan ?</td>
            <td><input type="radio" name="G005" value="1" required>Yes
                <input type="radio" name="G005" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>6. Apakah ikan mengalami tubuh memucat ?</td>
            <td><input type="radio" name="G006" value="1" required>Yes
                <input type="radio" name="G006" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>7. Apakah ikan mengalami gerakan dengan lambat ?</td>
            <td><input type="radio" name="G007" value="1" required>Yes
                <input type="radio" name="G007" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>8. Apakah ikan mengalami gerakan tidak beraturan ?</td>
            <td><input type="radio" name="G008" value="1" required>Yes
                <input type="radio" name="G008" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>9. Apakah ikan mengalami menggosokkan badan ke objek ?</td>
            <td><input type="radio" name="G009" value="1" required>Yes
                <input type="radio" name="G009" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>10. Apakah ikan mengalami bercak putih ?</td>
            <td><input type="radio" name="G010" value="1" required>Yes
                <input type="radio" name="G010" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>11. Apakah ikan mengalami gangguan pernapasan ?</td>
            <td><input type="radio" name="G011" value="1" required>Yes
                <input type="radio" name="G011" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>12. Apakah ikan mengalami kematian ?</td>
            <td><input type="radio" name="G012" value="1" required>Yes
                <input type="radio" name="G012" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>13. Apakah ikan mengalami kondisi lemah ?</td>
            <td><input type="radio" name="G013" value="1" required>Yes
                <input type="radio" name="G013" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>14. Apakah ikan mengalami merah (berdarah) pada tubuh ?</td>
            <td><input type="radio" name="G014" value="1" required>Yes
                <input type="radio" name="G014" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>15. Apakah ikan mengalami merah (berdarah) pada mulut ?</td>
            <td><input type="radio" name="G015" value="1" required>Yes
                <input type="radio" name="G015" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>16. Apakah ikan mengalami merah (berdarah) pada sirip ?</td>
            <td><input type="radio" name="G016" value="1" required>Yes
                <input type="radio" name="G016" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>17. Apakah ikan mengalami merah (berdarah) pada insang ?</td>
            <td><input type="radio" name="G017" value="1" required>Yes
                <input type="radio" name="G017" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>18. Apakah ikan mengalami mata buram ?</td>
            <td><input type="radio" name="G018" value="1" required>Yes
                <input type="radio" name="G018" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>19. Apakah ikan mengalami mata menonjol ?</td>
            <td><input type="radio" name="G019" value="1" required>Yes
                <input type="radio" name="G019" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>20. Apakah ikan mengalami mata berdarah ?</td>
            <td><input type="radio" name="G020" value="1" required>Yes
                <input type="radio" name="G020" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>21. Apakah ikan mengalami tubuh menghitam (jadi gelap) ?</td>
            <td><input type="radio" name="G021" value="1" required>Yes
                <input type="radio" name="G021" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>22. Apakah ikan mengalami merah (berdarah) pada ekor ?</td>
            <td><input type="radio" name="G022" value="1" required>Yes
                <input type="radio" name="G022" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>23. Apakah ikan mengalami sirip rontok ?</td>
            <td><input type="radio" name="G023" value="1" required>Yes
                <input type="radio" name="G023" value="0" required>No
            </td>
          </tr>
          <tr>
            <td>24. Apakah ikan mengalami sleeping dead ?</td>
            <td><input type="radio" name="G024" value="1" required>Yes
                <input type="radio" name="G024" value="0" required>No
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>       
      </form>
      {% if prediksi_penyakit %}
    		<div class="alert alert-primary" role="alert">
        		Berdasarkan dari gejala yang anda input maka penyakit yang diderita adalah {{prediksi_penyakit}}
    		</div>
    	{% endif %}    
    </div>
  </section>
  <!-- end service section -->


  <!-- team section -->
  <section id="team">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Our Team
        </h2>
        <hr>
      </div>
      <p>
        Team dalam pembuatan project akhir ini terdiri dari tiga mahasiswa dan 2 mahasiswi yang berasal dari berbagai daerah dan kampus. Setiap anggota team berperan aktif dalam pembuatan dan penyelesaian project tersebut.
      </p>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-4">
            <div class="img-box">
              <img src="static/images/kris.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Kris
              </h4>
              <p>
                Krisdayanti adalah mahasiswi tahun ke-3 dengan jurusan Sistem Informasi dan konsentrasi Enterprise Resource Planning yang saat ini berkuliah di salah satu perguruan tinggi swasta di kota Bandung.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-box">
              <img src="static/images/raull.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Raul 
              </h4>
              <p>
                Mohd.Raul Gusti Ananda Mahasiswa tahun ke-3 dengan jurusan Teknik Informatika yang saat ini berkuliah di salah satu perguruan tinggi negeri di Provinsi Kepuauan Riau.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-box">
              <img src="static/images/herdi.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Herdi 
              </h4>
              <p>
                Herdi Rizky Pratama, Mahasiswa Universitas Pendidikan Indonesia Sistem Telekomunikasi yang bercita cita ingin menjadi sukses, sedikit hal yang ingin saya lakukan  "jika tak bisa membahagiakan orang lain setidaknya jangan merepotkan nya"
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-box">
              <img src="static/images/tri.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Tri 
              </h4>
              <p>
                Tri Widodo Mahasiswa tahun ke-3 dengan jurusan teknik elektro dengan konsentrasi sistem kontrol
                yang saat ini berkuliah di salah satu perguruan tinggi negeri di kota Semarang
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-box">
              <img src="static/images/putri.jpg" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Naja
              </h4>
              <p>
                Putri Naja Fadhilah Mahasiswi tahun ke-3 jurusan Farmasi di Universitas Ngudi Waluyo, berperan aktif dalam Himpunan Mahasiswa sebagai President dan berpengalaman dalam Project Management.
              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end team section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2022 All Rights Reserved By Healthy Fish
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>

</body>
</body>

</html>